.div-board {
    margin: 1rem 15px 0;
    border: solid #f7f7f9
  }
  
  .add {
    margin: 1rem 15px 0;
  }
 .bg{
   background-image: url("https://images.pexels.com/photos/1166657/pexels-photo-1166657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
 }